@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital@1&family=Nunito:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: nunito, sans-serif;
    font-weight: 400;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2, h3, h4 {
    font-family: cantarell, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    color: #252525;
}

/* Fixed header z-index sourced from https://stackoverflow.com/questions/16315125/position-absolute-has-greater-z-index-than-position-fixed*/
#fixed-header {
    line-height: 60px;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    z-index: 2;
}

/* navigation links*/
/* General layout sourced from "Love Running" */
/* Header https://learn.codeinstitute.net/courses/course-v1:CodeInstitute+LR101+2021_T1/courseware/4a07c57382724cfda5834497317f24d5/637be1a2e3b84b25aa33f3ab4d98603c/*/
/* Navigation https://learn.codeinstitute.net/courses/course-v1:CodeInstitute+LR101+2021_T1/courseware/4a07c57382724cfda5834497317f24d5/637be1a2e3b84b25aa33f3ab4d98603c/*/
#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: #252525;
}

#menu a:hover {
    font-weight: bold;
}

.active {
    font-weight: bold;
    font-style: italic;
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 10px;
}

/* hero image */
/* General styling for hero image and text overlay sourced from "Love Running" https://learn.codeinstitute.net/courses/course-v1:CodeInstitute+LR101+2021_T1/courseware/4a07c57382724cfda5834497317f24d5/6fd29d155c3b42248ff57bae32978a4b/*/
/* Fixed header z-index sourced from https://stackoverflow.com/questions/16315125/position-absolute-has-greater-z-index-than-position-fixed*/
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

#cover-text, #cover-text h2 {
    color: white;
    font-weight: bold;
}

#cover-text {
    font-size: 110%;
    font-family: cantarell, sans-serif;
    letter-spacing: 2px;
    text-align: center;
    width: 50%;
    padding: 0px 20px;
    bottom: 30px;
    right: 300px;
    position: absolute;
    background-color: rgba(15, 138, 200, .7);
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;
}

/* Featured Article */

#featured {
    border: 3px double rgb(15, 138, 200);
    margin: 50px 150px;
    padding: 25px 100px;
    text-align: center;
}

hr {
    border-top: 1px solid #3a3a3a;
    margin-left: 100px;
    margin-right: 100px;
    margin: 5px;
}

/* Quiz */

#quiz {
    border: 3px double rgb(15, 138, 200);
    margin: 50px 150px;
    padding: 25px;
    text-align: center;
}

#Star-wars-rating {
    border: 1px solid black;
}

#media {
    border: 1px solid black;  
}

#quiz-button {
    background-color: blue;
    border: 1px solid black;
    color: white;
    font-weight: 800;
    text-align: center;
    border-radius: 8px;
    padding: 5px;
    margin-top: 18px;
}

/* Recipe */

#recipe {
    margin: 50px 150px;
    border: 3px double rgb(15, 138, 200);
    padding: 25px 100px;
}

table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #table-title {
    font-weight: bold;
  }

  th {
    border:  3px double rgb(15, 138, 200);
    font-family: cantarell, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    color: #252525;
  }
  
  td {
    text-align: center;
    border:  3px double rgb(15, 138, 200);
    width: 300px;
  }

/* Coming Soon*/

  #upcoming {
    border: 3px double rgb(15, 138, 200);
    margin: 50px 150px;
    padding: 25px 100px;
    text-align: center;
  }

  #upcoming li {
    list-style: none;
  }

/* Footer */
/* Social Media link layout sourced from "Love Running" https://learn.codeinstitute.net/courses/course-v1:CodeInstitute+LR101+2021_T1/courseware/4a07c57382724cfda5834497317f24d5/e6d4cda2bc08458ba94d2092be9bad3a/*/
   footer {
       height: 150px;
   }

   #social-networks {
       text-align: center;
   }

   #social-networks li {
    display: inline;
   }

   #social-networks i {
       font-size: 160%;
       margin: 1%;
       padding: 5%;
       color: #3a3a3a;
   }
   
   /* Social Media color invert sourced from https://stackoverflow.com/questions/17741629/how-can-i-invert-color-using-css*/
   #social-networks i:hover {
       filter: invert(100%);
   }

/* Media queries */
/* Sourced from "Love Running" https://learn.codeinstitute.net/courses/course-v1:CodeInstitute+LR101+2021_T1/courseware/4a07c57382724cfda5834497317f24d5/d48e6af85eb84191bebd57ece8b6fb73/*/
/* For Medium screen sizes from 950px wide and down */

@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 25px;
        margin-bottom: 25px;
    }

    #cover-text {
        left:0;
    }

    #featured {
        width: 90%;
        margin: 0 auto;
        border: 1px solid rgb(15, 138, 200);
        padding: 25px;
    }

    #quiz{
        width: 90%;
        margin: 0 auto;
        border: 1px solid rgb(15, 138, 200);
        padding: 25px;
    }

    #recipe {
        width: 90%;
        margin: 0 auto;
        border: 1px solid rgb(15, 138, 200);
        padding: 25px;
    }

    #upcoming {
        width: 90%;
        margin: 0 auto;
        border: 1px solid rgb(15, 138, 200);
        padding: 25px;
    }
}

/* For small screen sizes 800px and down */
@media screen and (max-width: 800px) {
    body{
        margin: 0 auto;
    }

    #upcoming li {
        list-style: circle;
      }
}