@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital@1&family=Nunito:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: nunito, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: cantarell, sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 10px;
}

/* navigation links*/

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 60px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;
}

/* Article */

#article {
    border: 3px double rgb(15, 138, 200);
    margin: 50px;
    padding: 25px;
    width: 75% center;
    text-align: center;
}

hr {
    border-top: 1px solid #3a3a3a;
    margin-left: 150px;
    margin-right: 150px;
}

/* Quiz */

#quiz {
    border: 3px double rgb(15, 138, 200);
    margin: 50px;
    padding: 25px;
    width: 60% center;
    text-align: center;
}

#SWrating {
    border: 1px solid black;
}

#media-type {
    border: 1px solid black;  
}

/* Recipe */

table {
    text-align: center;
    margin-left: auto;
    margin-right:auto;
  }
  
  th {
    border: 2px solid;
  }
  
  td {
    text-align: center;
    border: 2px solid;
    width: 300px;
  }

  /* Coming Soon*/

  #upcoming {
    border: 3px double rgb(15, 138, 200);
    margin: 50px;
    padding: 25px;
    width: 60% center;
    text-align: center;
  }

  #upcoming li {
    list-style: none;
  }

  /* Footer */
   footer {
       height: 150px;
   }

   .social-networks {
       text-align: center;
   }

   .social-networks li {
    display: inline;
   }

   .social-networks i {
       font-size: 160%;
       margin: 1%;
       padding: 5%;
       color: #3a3a3a;
   }